.profileInfo-section {
  width: 450px;
  padding: 20px;
  border-left: 1px solid #eee;

  .profileInfo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .profileInfo-details {
    .detail-item {
      margin-bottom: 15px;

      label {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
        color: #666;
      }

      input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background: white;
      }
    }
  }
}
.btn {
  justify-content: center;
  // &.edit-mode {
  // }
  &.profile-info-btns {
    width: 200px;
  }
}
