.region-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 80px;
    overflow-y: hidden;
    transition: max-height 0.5s ease, overflow-y 0.5s ease;
}

.region-list:hover {
    overflow-y: auto;
    max-height: 105px;
}

.region-list li {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-right: 6px;
    accent-color: var(--blue-color);
    border: 2px solid #e40000;

}

.region-list::-webkit-scrollbar {
    width: 8px;
}
  
.region-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
  
.region-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}