:root {
    --btn-color: #D1372F;
    --btn-color-hover: #b61717;
    --btn-text-color: #F6E1C6;
    --btn-border-radius: 8px;
    --btn-font-size:14px;

    --main-font-size:16px;
    --main-text-color:#334B89;

    --white-color: #F6E1C6;
    --yellow-color: #E7A72B;
    --red-color: #D1372F;
    --blue-color: #334B89;
    --hover-text-color: #5b7fdb;
}
  