.rating-filter {
  width: 250px;
  margin: 20px auto;
  color: var(--blue-color)
}
  
.rating-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 14px;
  
}
.rating-inputs label{
  font-weight: 600;  
}
.rating-inputs input {
  display: block;
  text-align: center;
  width: 25px;
  font-size: var(--main-font-size);
  border-radius: var(--btn-border-radius);
  border: 1px solid var(--blue-color);  
  color: var(--blue-color)
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.slider-container {
  position: relative;
}

.slider-container input {
  position: absolute;
  width: 100%;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}
#min-range{
  right: 0;
}

.slider-container input::-webkit-slider-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid var(--blue-color);
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  transform: translateY(-60%);
}
  
.slider-container input[type="range"]:focus,
.slider-container input[type="number"]:focus {
  outline: none;
  box-shadow: none;
}

.slider-container .slider-track {
  position: absolute;
  height: 6px;
  background: rgb(51, 75, 137, 0.3);
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: -1;
}

.track-filled {
  position: absolute;
  height: 100%;
  background-color: var(--blue-color);
}