.region-section {
  display: block;
  width: 100%;
  padding-top: 10px;
}
  
.region-section button {
  display: flex;
  cursor: pointer;
  padding: 5px 12px;
  width: 100%;
  background-color: white;
  border-radius: var(--btn-border-radius);
  border: 1px solid var(--blue-color);
  font-size: var(--main-font-size);
  align-items: center;
  justify-content: space-between;
}
  
.arrow-icon, .arrow-icon-open {
  transition: transform 0.5s ease;
  width: 10%;
  height: auto;
  color: var(--blue-color)
}
.arrow-icon-open {
  transform: rotate(-180deg);
}
  
.dropdown-region {
  position: relative;
  border: 1px solid var(--blue-color);
  border-radius: var(--btn-border-radius);
  max-width: 100%;
  margin-top: 5px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: all 0.5s ease;
  color: var(--blue-color)
}
  
.dropdown-region.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
  max-height: 200px;
  padding: 10px;
}
.dropdown-region.close {
  padding: 0px 10px 10px 10px;
  opacity: 0;
  transform: translateY(-5px);
  pointer-events: none;
  max-height: 0;
}