@keyframes skeleton-loading {
    0% {
      background-color: hsl(195, 2%, 54%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
}

.skeleton-card {
    min-width: 100px;
    min-height: 420px;
    animation: skeleton-loading 1s linear infinite alternate;
}