.btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px 4px;
    width: 110px;
    height: 35px;
    border-radius: var(--btn-border-radius);
    /* border: 1px solid black;  */
    border: 0px;
    font-size: var(--main-font-size);
    font-weight: 500;
    background-color: var(--btn-color);
    color: var(--btn-text-color)
}
  
.btn:hover {
    background-color: var(--btn-color-hover);
}